# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios Cap02

In [25]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista=[1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
objetos=["taian",0.1,"maria","jordana","carol"]
print(objetos)

['taian', 0.1, 'maria', 'jordana', 'carol']

In [9]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
valor = "Taian"
valor2 = "Taumar"
valor3 = valor +" "+valor2
print(valor3)

Taian Taumar

In [12]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla=(1,2,3,4,4,4,5)
tupla.count(4)

3

In [15]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
Dicionario = {}
print(Dicionario)

{}

In [16]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
Dicio_nario = {"taian":1,"Carol":2,"Maria":3}
print(Dicio_nario)

{'taian': 1, 'Carol': 2, 'Maria': 3}

In [17]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
Dicio_nario["Igor"]=4
print(Dicio_nario)

{'taian': 1, 'Carol': 2, 'Maria': 3, 'Igor': 4}

In [27]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
Exe={"maria":1,"Godoi":86,"Carlos":[10,89]}
print(Exe)

{'maria': 1, 'Godoi': 86, 'Carlos': [10, 89]}

In [21]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista_final=["taian",(0,85),{"Godoi":89,"mariana":85},8.89]
print(lista_final)

['taian', (0, 85), {'Godoi': 89, 'mariana': 85}, 8.89]

In [24]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>